.footer
	.footer__logo
		a.footer__link.footer__link--logo(href='#' aria-label='Домашняя страница')
			svg(width='128' height='24')
				use(xlink:href="img/sprite-mono.svg#text-logo")
	.footer__social
		a.footer__link.footer_link--social(href='#' aria-label='Telegram.')
			svg(width='20' height='17')
				use(xlink:href="img/sprite-mono.svg#telegram")
		a.footer__link.footer_link--social(href='#' aria-label='Vkontakte.')
			svg(width='27' height='17')
				use(xlink:href="img/sprite-mono.svg#vk")
		a.footer__link.footer_link--social(href='#' aria-label='Youtube.')
			svg(width='24' height='19')
				use(xlink:href="img/sprite-mono.svg#youtube")
	.footer__author
		a.footer__link.footer__link--author(href='#')
			p.footer__text HTML Academy
			svg(width='27' height='34')
				use(xlink:href="img/sprite-mono.svg#html_academy")
