header.main-header.main-header--no-js
	.main-header__wrapper
		a.main-header__home(href='index.html' aria-label='Домашняя страница.')
			svg.main-headeer__icon-logo
				use(xlink:href="img/sprite-multi.svg#logo-mobile")
			svg.main-header__text-logo
				use(xlink:href="img/sprite-mono.svg#text-logo")
		button.main-header__menu-button(type='button')
			.main-header__menu-icon
	nav.main-nav.main-nav--no-js
		ul.main-nav__list
			li.main-nav__item 
				a.main-nav__link(href='#') Главная
			li.main-nav__item 
				a.main-nav__link(href='#') Каталог продукции
			li.main-nav__item 
				a.main-nav__link(href='#') Подбор программы