<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1")
		link(href='css/style.min.css' rel='stylesheet')
		title Cat Energy
	body
		include modules/header
		include modules/main/main
		include modules/footer
	script(src="https://api-maps.yandex.ru/2.1/?apikey=7c70a677-2343-4514-aa84-bc38e108561a&lang=ru_RU")
	script(src='js/main.js' type='module')