"Для файлов promo-can"
                    picture
                      source(type="image/webp" media="(min-width: 1150px)" srcset="./img/content/promo-can/promo-can_desktop.webp, ./img/content/promo-can/promo-can_desktop@2x.webp 2x")
                      source(type="image/webp" media="(min-width: 768px)" srcset="./img/content/promo-can/promo-can_tablet.webp, ./img/content/promo-can/promo-can_tablet@2x.webp 2x")
                      source(type="image/webp" srcset="./img/content/promo-can/promo-can_mobile.webp, ./img/content/promo-can/promo-can_mobile@2x.webp 2x")
                      source(media="(min-width: 1150px)" srcset="./img/content/promo-can/promo-can_desktop.jpg, ./img/content/promo-can/promo-can_desktop@2x.jpg 2x")
                      source(media="(min-width: 768px)" srcset="./img/content/promo-can/promo-can_tablet.jpg, ./img/content/promo-can/promo-can_tablet@2x.jpg 2x")
                      img(class="#" src="./img/content/promo-can/promo-can_mobile.jpg" alt="" srcset="./img/content/promo-can/promo-can_mobile@2x.jpg 2x" width="#" height="#")
                    
"Для файлов sliderafter"
                    picture
                      source(type="image/webp" media="(min-width: 1150px)" srcset="./img/content/sliderafter/sliderafter_desktop.webp, ./img/content/sliderafter/sliderafter_desktop@2x.webp 2x")
                      source(type="image/webp" media="(min-width: 768px)" srcset="./img/content/sliderafter/sliderafter_tablet.webp, ./img/content/sliderafter/sliderafter_tablet@2x.webp 2x")
                      source(type="image/webp" srcset="./img/content/sliderafter/sliderafter_mobile.webp, ./img/content/sliderafter/sliderafter_mobile@2x.webp 2x")
                      source(media="(min-width: 1150px)" srcset="./img/content/sliderafter/sliderafter_desktop.jpg, ./img/content/sliderafter/sliderafter_desktop@2x.jpg 2x")
                      source(media="(min-width: 768px)" srcset="./img/content/sliderafter/sliderafter_tablet.jpg, ./img/content/sliderafter/sliderafter_tablet@2x.jpg 2x")
                      img(class="#" src="./img/content/sliderafter/sliderafter_mobile.jpg" alt="" srcset="./img/content/sliderafter/sliderafter_mobile@2x.jpg 2x" width="#" height="#")
                    
"Для файлов sliderbefore"
                    picture
                      source(type="image/webp" media="(min-width: 1150px)" srcset="./img/content/sliderbefore/sliderbefore_desktop.webp, ./img/content/sliderbefore/sliderbefore_desktop@2x.webp 2x")
                      source(type="image/webp" media="(min-width: 768px)" srcset="./img/content/sliderbefore/sliderbefore_tablet.webp, ./img/content/sliderbefore/sliderbefore_tablet@2x.webp 2x")
                      source(type="image/webp" srcset="./img/content/sliderbefore/sliderbefore_mobile.webp, ./img/content/sliderbefore/sliderbefore_mobile@2x.webp 2x")
                      source(media="(min-width: 1150px)" srcset="./img/content/sliderbefore/sliderbefore_desktop.jpg, ./img/content/sliderbefore/sliderbefore_desktop@2x.jpg 2x")
                      source(media="(min-width: 768px)" srcset="./img/content/sliderbefore/sliderbefore_tablet.jpg, ./img/content/sliderbefore/sliderbefore_tablet@2x.jpg 2x")
                      img(class="#" src="./img/content/sliderbefore/sliderbefore_mobile.jpg" alt="" srcset="./img/content/sliderbefore/sliderbefore_mobile@2x.jpg 2x" width="#" height="#")
                    
