|Спрайт для alarm
svg(width='#' height='#')
    use(xlink:href="img/sprite-mono.svg#alarm")
|Спрайт для eat
svg(width='#' height='#')
    use(xlink:href="img/sprite-mono.svg#eat")
|Спрайт для html_academy
svg(width='#' height='#')
    use(xlink:href="img/sprite-mono.svg#html_academy")
|Спрайт для leaf
svg(width='#' height='#')
    use(xlink:href="img/sprite-mono.svg#leaf")
|Спрайт для telegram
svg(width='#' height='#')
    use(xlink:href="img/sprite-mono.svg#telegram")
|Спрайт для text-logo
svg(width='#' height='#')
    use(xlink:href="img/sprite-mono.svg#text-logo")
|Спрайт для tub
svg(width='#' height='#')
    use(xlink:href="img/sprite-mono.svg#tub")
|Спрайт для vk
svg(width='#' height='#')
    use(xlink:href="img/sprite-mono.svg#vk")
|Спрайт для youtube
svg(width='#' height='#')
    use(xlink:href="img/sprite-mono.svg#youtube")
