.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 22px;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 58px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 110px;
  }
}

.footer__logo {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 95px;

  @media (min-width: $tablet-width) {
    min-height: 24px;
  }
}

.footer__social {
  align-items: center;
  display: grid;
  fill: #444444;
  gap: 26px;
  grid-template-columns: 28px 28px 28px;
  justify-content: center;
  justify-items: center;
  min-height: 63px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 22px;
  }

  &::before,
  &::after {
    background-color: #d9d9d9;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.footer__link--author {
  align-items: center;
  color: #444444;
  display: flex;
  fill: #444444;
  gap: 22px;
  justify-content: space-between;
  min-height: 78px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    min-height: 34px;
  }

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

.footer_link--social {
  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

.footer__link--logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.footer__link {
  align-items: center;
  display: flex;
}
