.options {
  display: grid;
  gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.options__item {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 18px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 55px 52px;
  }
}

.options__name {
  display: flex;
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 29px;
  padding-left: 71px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-bottom: 24px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 214px;
  }
}

.options__icon {
  background-color: #68b738;
  border-radius: 50%;
  height: 50px;
  left: 22px;
  position: absolute;
  width: 50px;

  &::after {
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $tablet-width) {
    height: 200px;
    left: auto;
    right: 62px;
    width: 200px;
  }

  @media (min-width: $desktop-width) {
    height: 100px;
    left: 52px;
    right: auto;
    width: 100px;
  }
}

.options__icon--slim::after {
  background: url("../img/svg/cat-slim.svg") center / contain;
  height: 50px;
  width: 36px;

  @media (min-width: $tablet-width) {
    height: 194px;
    width: 140px;
  }

  @media (min-width: $desktop-width) {
    height: 97px;
    width: 70px;
  }
}

.options__icon--pro::after {
  background: url("../img/svg/cat-pro.svg") center / contain;
  height: 28px;
  width: 67px;

  @media (min-width: $tablet-width) {
    height: 112px;
    width: 268px;
  }

  @media (min-width: $desktop-width) {
    height: 56px;
    width: 134px;
  }
}

.options__description {
  border-bottom: 1px solid #d9d9d9;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-bottom: 15px;
  padding-bottom: 23px;
  position: relative;

  @media (min-width: $tablet-width) {
    border-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.options__link {
  align-items: center;
  color: #000000;
  display: flex;
  gap: 15px;
  padding: 4px 0;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    background: url("../img/svg/options-arrow.svg") center/cover;
    content: "";
    height: 12px;
    width: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    gap: 25px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    gap: 28px;
  }
}
